<div class ="container">
<h2>Sign Up</h2>
<%= render partial:'errors', locals: {item: @user}%>
<%= form_for(@user) do |f|%>
    <div class = 'row'>
    <%=f.label :email, "Email"%>
    <%=f.text_field :email%>
    <br>
    <%=f.label :name, "Name"%>
    <%=f.text_field :name%>
    <br>
    <%=f.label :image, "Profile Picture"%>
    <%=f.text_field :image%>
    <br>
    <%=f.label :password, "Password"%>
    <%=f.password_field :password%>
    <br>
    </div>
    <div class = 'row'>
    <%=f.label :password_confirmation, "Password Confirmation"%>
    <%=f.password_field :password_confirmation%>
    </div>
    <div class = 'row'>
        <%=f.submit%>
<%end%>
<div class = 'facebook_login_button'>
<%= link_to('Signup with Facebook!', '/auth/facebook') %>
</div>
</div>
</div>