<div class = 'username_header'>
<h1><%if current_user.id == @admin.id%> 
        <i class='fa fa-cogs'></i> 
    <%else%>
        <%if !current_user.image.nil?%>
            <%=image_tag(current_user.image)%>
        <%else%>
            <i class='fa fa-user-circle'></i>
        <%end%>
    <%end%>
    <br>
    <%=current_user.name%>
</h1>
</div>
<div class ='filter'>
<%= form_for :filter, :method => 'get', url: user_path(current_user) do |f| %>
    <%= f.select(:option, @filters.map {|value| [value, value]}, include_blank: true) %>
    <%= f.submit "Filter" %>
<% end %>
</div>
<br>
<%if !current_user.albums.empty? || !@albums.empty?%>
    <%=render partial:'albums/alb', locals: {show_albums: @albums}%>
<%end%>
<%if @albums.empty?%>
    <div class = 'container'>
    <p> Click on Home Button to See Albums in Database or use the Search Bar to look at Albums created by other users.</p>
    </div><br>
    <div class = 'create_new_button'>
        <%= link_to "No Albums Yet. Create One.", new_album_path%>
    </div>
<%end%>
</div>
