<h1><%=current_user.username%></h1>
<%=form_tag user_path(current_user), method: "get" do%>
    <%=label_tag "search"%>
    <%=text_field_tag "search"%>
    <%=submit_tag "Search User Albums"%>
<%end%>

<%if !current_user.albums.nil?%>
    <%=render partial:'albums/alb', locals: {show_albums: @albums}%>
<%else%>
    <%=  link_to "No Albums Yet. Create One.", new_album_path%>
<%end%>
