<div class='new_alb_form'>
<%= render partial:'users/errors', locals:{item: album}%>
<%= form_for(album) do |f|%>
    <%=f.hidden_field :author_id, :value => current_user.author.id%>
    <%=f.label :title, "Title"%>
    <%=f.text_field :title%>
    <br>
    <%=f.label :date, "Date"%>
    <%=f.date_field :date%>
    <br>
    <%=f.label :center, "Center(location)"%>
    <%=f.text_field :center%>
    <br>
    <%=f.label :creator, "Creator"%>
    <%=f.text_field :creator%>
    <br>
    <%=f.label :description, "Description"%>
    <%=f.text_area :description%>
    <br>
    <%=f.label :nasa_id, "Project/Nasa Id"%>
    <%=f.text_field :nasa_id%>
    <br>
    <%=f.label :href, "Picture Href"%>
    <%=f.text_field :href%>
    <br>
    <%=f.label "Select From Existing Tags"%><br>
    <%=f.label "Or create new"%>
    <%=f.label "Galaxies"%>
    <br>
    <div class = 'checkboxes'>
    <%=f.collection_check_boxes :galaxy_ids, Galaxy.all, :id, :name, :include_blank => true%>
    </div>
    <%= f.fields_for :galaxies, album.galaxies.build do |galaxies_fields| %>
        <%= galaxies_fields.text_field :name, placeholder: "Name", :include_blank => true%>
        <%= galaxies_fields.text_area :bio, placeholder: "Bio", :include_blank => true%>
        <%= galaxies_fields.text_field :picture_src, placeholder: "Picture source", :include_blank => true%>
        <%= galaxies_fields.text_field :size, placeholder: "Size", :include_blank => true%>
    <% end %>
    
    <%=f.label "Planets"%>
    <br>
    <div class = 'checkboxes'>
    <%=f.collection_check_boxes :planet_ids, Planet.all, :id, :name, :include_blank => true%>
    </div>

    <%= f.fields_for :planets, album.planets.build do |planets_fields| %>
        <%= planets_fields.text_field :name, placeholder: "Name", :include_blank => true%>
        <%= planets_fields.text_area :bio, placeholder: "Bio", :include_blank => true%>
        <%= planets_fields.text_field :picture_src, placeholder: "Picture Source", :include_blank => true%>
        <%= planets_fields.text_field :size, placeholder: "Size", :include_blank => true%>
    <% end %>
    
    <%=f.label "Space Objects"%>
    <br>
    <div class = 'checkboxes'>
    <%=f.collection_check_boxes :space_obj_ids, SpaceObj.all, :id, :name, :include_blank => true%>
    </div>
    <%= f.fields_for :space_objs, album.space_objs.build do |space_objs_fields| %>
        <%= space_objs_fields.text_field :name, placeholder: "Name", :include_blank => true%>
        <%= space_objs_fields.text_area :bio, placeholder: "Bio", :include_blank => true%>
        <%= space_objs_fields.text_field :picture_src, placeholder: "Picture Source", :include_blank => true%>
        <%= space_objs_fields.text_field :size, placeholder: "Size", :include_blank => true%>
    <% end %>
    
    <%=f.submit%>
<%end%>
</div>