<div class='new_alb_form'>
<%= render partial: 'users/errors', locals: {item: album}%>
<%= form_for(album) do |f|%>
    <%=f.label :title, "Title"%>
    <%=f.text_field :title%>
    <br>
    <%=f.label :date, "Date"%>
    <%=f.date_field :date%>
    <br>
    <%=f.label :center, "Center(location)"%>
    <%=f.text_field :center%>
    <br>
    <%=f.label :creator, "Creator"%>
    <%=f.text_field :creator%>
    <br>
    <%=f.label :description, "Description"%>
    <%=f.text_area :description%>
    <br>
    <%=f.label :nasa_id, "Project/Nasa Id"%>
    <%=f.text_field :nasa_id%>
    <br>
    <%=f.label :href, "Picture Href"%>
    <%=f.text_field :href%>
    <br>
    <%=f.label "Select From Existing Tags"%><br>
    <%=f.label "Galaxies"%>
    <%=f.collection_select :galaxy_ids, Galaxy.all, :id, :name, :include_blank => true%>
    <%=f.label "Planets"%>
    <%=f.collection_select :planet_ids, Planet.all, :id, :name, :include_blank => true%>
    <%=f.label "Space Objects"%>
    <%=f.collection_select :space_obj_ids, SpaceObj.all, :id, :name, :include_blank => true%>
    
    <%=f.label "Create A New Tag"%>
    <%=f.select(:options, categories.map {|value| [value, value]}, :include_blank => true)%>
    <br>
    <%=f.submit%>
<%end%>
</div>