<% if !celestial_obj_1.empty?%>
    <h2><%= link_to "Galaxies Related to This Article", "/albums/#{album.id}/galaxies"%></h2>
    <% celestial_obj_1.each do |obj|%>
        <h3><%=link_to obj.name, galaxy_path(obj)%></h3>
        <%=image_tag("#{obj.picture_src}")%>
    <%end%>
<%end%>
<% if !celestial_obj_2.empty?%>
    <h2><%= link_to "Planets Related to This Article", "/albums/#{album.id}/planets"%></h2>
    <% celestial_obj_2.each do |obj|%>
        <h3><%=link_to obj.name, planet_path(obj)%></h3>
        <%=image_tag("#{obj.picture_src}")%>
    <%end%>
<%end%>
<% if !celestial_obj_3.empty?%>
    <h2><%= link_to "Other Objects Related to This Article", "albums/#{album.id}/space_objs"%></h2>
    <% celestial_obj_3.each do |obj|%>
        <h3><%=link_to obj.name, space_obj_path(obj)%></h3>
        <%=image_tag("#{obj.picture_src}")%>
    <%end%>
<%end%>
