<%=@album.title%>
<br>
<%=image_tag("#{@album.href}")%>
<ul>
<li>Date: <%=@album.date%></li>
<li>Center: <%=@album.center%></li>
<li>Creator: <%=@album.creator%></li>
<br>
<li>Description: <%=@album.description%></li>
<li>Nasa/Project Id: <%=@album.nasa_id%></li>
</ul>
<%if current_user == @album.user%>
    <%=link_to "Edit your album", edit_album_path(@album)%>
<%=link_to "All Pictures", albums_path%>

