
<div class = 'display_img'> 
    <%=image_tag("#{@album.href}")%>
    <br>
    <div class = 'display_text'>
        <h2><%=@album.title%></h2>
    </div>
    <div class='img_buttons'>
        <%if current_user == @album.user%>
            <%= link_to "Delete Album", "#{@album.id}/delete", data: { confirm: "Are You Sure?" }, class: 'delete_button'%>
            <%=link_to "Edit your album", edit_album_path(@album), class: 'edit_button'%>
        <%end%>
        <%=link_to "All Pictures", albums_path, class: 'explore_button'%>
    </div>

    <ul class = 'album_info'>
        <li>Date: <%=@album.date%></li>
        <li>Center: <%=@album.center%></li>
        <li>Creator: <%=@album.creator%></li>
        <br>
        <li>Description: <%=@album.description%></li>
        <li>Nasa/Project Id: <%=@album.nasa_id%></li>
    </ul>
    <div class = 'comment_container'>
        <h3>Comments:</h3>
        <% if @comments%>
            <div class = 'comment_show'>
                <ul>
                <%@comments.each do |comment|%>
                    <li><%=comment.created_time%><br>
                    <%=comment.user.name%>: <%=comment.content%>
                    <%if current_user == comment.user%>
                        <%= link_to "x", "#{@album.id}/comments/#{comment.id}", method: 'delete', data: { confirm: "Are You Sure?" }, class: 'delete_button'%>
                    <%end%></li>
                <%end%>
                </ul>
            </div>
        <%end%>
        <h4>New Comment</h4>
        <%=form_for @comment, url: comments_path, method: 'post' do |f|%>
            <%=f.hidden_field :user_id, :value => current_user.id%>
            <%=f.hidden_field :album_id, :value => @album.id%>
            <%=f.text_area :content%>
            <%=f.submit%>
        <%end%>
        <%= render partial: 'related', locals: {celestial_obj_1: @galaxies, celestial_obj_2: @planets, celestial_obj_3: @space_objs, album: @album}%>
    </div>
</div>


