
<div class = 'display_img'> 
    <%=image_tag("#{@album.href}")%>
    <br>
    <div class = 'display_text'>
        <h2><%=@album.title%></h2>
    </div>
    <div class='img_buttons'>
        <%if current_user == @album.user%>
            <%= link_to "Delete Album", "#{@album.id}/delete", data: { confirm: "Are You Sure?" }, class: 'delete_button'%>
            <%=link_to "Edit your album", edit_album_path(@album), class: 'edit_button'%>
        <%end%>
        <%=link_to "All Pictures", albums_path, class: 'explore_button'%>
    </div>

    <ul class = 'album_info'>
        <li>Date: <%=@album.date%></li>
        <li>Center: <%=@album.center%></li>
        <li>Creator: <%=@album.creator%></li>
        <br>
        <li>Description: <%=@album.description%></li>
        <li>Nasa/Project Id: <%=@album.nasa_id%></li>
    </ul>
    <%= render partial: 'related', locals: {celestial_obj_1: @galaxies, celestial_obj_2: @planets, celestial_obj_3: @space_objs, album: @album}%>
</div>


