<h1>New <%=celestial_obj.class.name%></h1> 
<%= form_for celestial_obj do |f|%>
    <%=f.label :name, "Name"%>
    <%=f.text_field :name%>
    <br>
    <%=f.label :bio, "Bio"%>
    <%=f.text_field :bio%>
    <br>
    <%=f.label :picture_src, "Picture Href"%>
    <%=f.text_field :picture_src%>
    <br>
    <%=f.label :size, "Size"%>
    <%=f.text_field :size%>
    <br>
    <%=f.submit%>
<%end%>