<!DOCTYPE html>
<html>
  <head>
    <title>GalaxyScout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = 'alert'>
      <% if flash[:alert]%>
        <strong><%=flash[:alert]%></strong><br>
      <%end%>
    </div>
    <div class = 'header'>
      <%=image_tag("homepag.jpg")%>
      <div class = 'header_text'>
        <h1>Galaxy Scout</h1>
      </div>
    </div>
    <br>
    <div class='icon-bar'>
        <%if current_user%>
          <a class ="active" href=<%=albums_path%>><i class = "fa fa-home"></i></a>
          <a href=<%=user_path(current_user)%>><i class="fa fa-user-circle"></i></a>
          <a href=<%=new_album_path%>><i class="fa fa-paper-plane"></i></a>
          <div class='search'>
          <a><i class='fa fa-search'>
          <div class = 'searchbar'>
          <%if current_page?(user_path(current_user))%>
            <%=form_tag user_path(current_user), method: "get" do%>
              <%=text_field_tag "search"%>
              <%=submit_tag "Search User Albums", :style => "display: none;"%>
            <%end%>
          <%else%>
            <%=form_tag albums_path, method: "get" do%>
              <%=text_field_tag "search"%>
              <%=submit_tag "Search Database", :style => "display: none;"%>
            <%end%>
          <%end%>
          </div>
          </i></a>
          </div>
          <a href=<%=logout_path%>><i class ="fa fa-user-times"></i></a>
        <%else%>
          <a href='/'><i class ="fa fa-home"></i></a>
          <a href=<%=signin_path%>><i class ="fa fa-user-circle"></i></a>
          <a href=<%=signup_path%>><i class="fa fa-vcard"></i></a>
        <%end%>
    </div>

    

    <div class = 'content'>
      <%= yield %>
    </div>
  </body>
  <footer>
  </footer>
</html>
