<!DOCTYPE html>
<html>
  <head>
    <title>GalaxyScout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%if current_user%>
    <%=link_to 'Home', albums_path%>
    <%=link_to "#{current_user.username}'s Page'", user_path(current_user)%>
    <%= link_to "Create New Album", new_album_path%>
    <%=link_to "Logout", logout_path%>
  <%else%>
    <%=link_to 'Signin', signin_path%>
    <%=link_to 'Signup', signup_path%>
  <%end%>
    
    
    <%= yield %>
  </body>
</html>
