<!DOCTYPE html>
<html>
  <head>
    <title>GalaxyScout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:alert]%>
      <strong><%=flash[:alert]%></strong><br>
  <%end%>
  <%=image_tag("homepag.jpg")%>
  <h1>Galaxy Scout</h1>

    <ul class='navbar'>
      <%if current_user%>
        <li><%=link_to 'Home', albums_path%></li>
        <li><%=link_to "#{current_user.username}'s Page'", user_path(current_user)%></li>
        <li><%= link_to "Create New Album", new_album_path%></li>
        <li><%=link_to "Logout", logout_path%></li>
      <%else%>
        <li><%=link_to 'Signin', signin_path%></li>
        <li><%=link_to 'Signup', signup_path%></li>
      <%end%>
    </ul>

    <div class = 'content'>
      <%= yield %>
    </div>
  </body>
  <footer>
  </footer>
  
</html>
